{% load staticfiles %}
<html>

  <head>
    <title> Skribblr Author Portal: Previous Entries </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/skribblr-portal.css' %}">
  </head>

  <body>
    <h1> Previous Entries: </h1>

    {% for entry in entries %}
      <div class="row">
        <div class="col-md-3">
          {{ entry.title }}
        </div>
        <div class="col-md-3">
          {{ entry.tldr }}
        </div>
        <div class="col-md-2">
          <a href="/entry/{{entry.id}}"> View </a>
        </div>
        <div class="col-md-2">
          <a href="/portal/edit/{{entry.id}}"> Edit </a>
        </div>
        <div class="col-md-2">
          <a href="/portal/delete/{{entry.id}}"> Delete </a>
        </div>

      </div>

    {% endfor %}

  </body>

</html>
