{% load staticfiles %}
<html>

  <head>
    <title> Skribblr Author Portal: Compose </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/skribblr_portal.css' %}">
  </head>

  <body>
    <h1> Compose Entry </h1>

    <form action="/portal/compose/add" method="post">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title-field" name="entry_title">
      </div>

      <div>
        <label for "tldr">tldr:</label>
        <input type="text" id="tldr-field" name="entry_tldr">
      </div>

      <div>
        <label for "content">Entry Content:</label>
        <textarea id="content-field" name="entry_content"></textarea>
      </div>

      <div>
        <button type="submit" id="submit-btn" class="btn btn-primary">Post!</button>
        {% csrf_token %}
    </form>

  </body>

</html>
